<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="/Users/xayalbinnatov/Desktop/PMS/PMS/logs/internal-nlog.txt">
    <targets>
        <!-- File target -->
        <target
                name="logfile"
                xsi:type="File"
                fileName="/Users/xayalbinnatov/Desktop/PMS/PMS/logs/${shortdate}_logfile.txt"
                layout="${longdate} ${level:uppercase=true} ${message} ${exception}" />
        <!-- Console target -->
        <target name="console" xsi:type="Console" layout="${longdate} ${level:uppercase=true} ${message} ${exception}" />
    </targets>

    <rules>
        <!-- Log everything from Debug level and above to the file and console -->
        <logger name="*" minlevel="Debug" writeTo="logfile,console" />
    </rules>
</nlog>
